table {
  width: 100%;
}

.login-title b {
  font-weight: 700;
}

.login-button-group {
  position: relative;
}

.login-btn {
  background-color: #29a07e;
  font-weight: 400;
  color: #fff;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  line-height: 1.5;
}

.login-button-group {
  margin-left: 5px;
}

.login-button-group a {
  text-decoration: none;
  margin-left: 10px;
  color: #29a07e;
}

.login-button-group a:hover {
  color: #29a07e;
}

.register-member-title {
  margin-top: 10px;
}

.register-link {
  text-decoration: none;
  color: #29a07e;
}

.register-link:hover {
  color: #29a07e;
}

@media (max-width: 769px) {
  .login-title {
    text-align: center;
  }

  .login-page td {
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }

  .login-register-title {
    margin-top: 20px;
  }
}
