.homepage-container {
  min-height: 630px;
}
.home-container {
  margin-top: 145px;
}

.home-left-group {
  margin-right: 10px;
  margin-top: 145px;
}

.home-left-group .header-menu-list {
  position: unset;
  display: block;
}

.home-banner-group {
  width: 900px;
  margin: 0 12px 11px 0;
}
.home-pro-cat-group {
  display: none;
}
.home-right-group {
  height: 100%;
  width: 295px;
}

.home-right-item,
.home-under-item {
  display: block;
  margin-bottom: 10px;
}


.home-right-item img {
  display: block;
  margin: auto;
  border-radius: 20px;
}

.home-under-group {
  width: 100%;
  display: block;
}

.home-under-item {
  display: inline-block;
  width: calc(100% / 3 + -12px);
  margin: 0 12px 0 0;
}

.home-under-item img {
  display: block;
  margin: auto;
  border-radius: 20px;
}

/* home pro cat group */
.home-pro-cat-group a {
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000;
  text-align: center;
  margin: 5px 5px 5px 5px;
  border: 1px solid #cfeac1;
  border-radius: 5px;
  width: calc(100% / 5 - 16px);
  padding: 6px 3px;
}

.cat-thumb {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto auto 12px;
}

/* cat-thumb images */
.home-pro-cat-group .lot-chuot {
  background: url(../../Assets/images/icon-img/lot-chuot.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .gaming-gear {
  background: url(../../Assets/images/icon-img/gaming-gear.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .phu-kien {
  background: url(../../Assets/images/icon-img/phu-kien.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .mo-hinh {
  background: url(../../Assets/images/icon-img/mo-hinh.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .trang-tri {
  background: url(../../Assets/images/icon-img/trang-tri.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .loa-micro {
  background: url(../../Assets/images/icon-img/loa-micro.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .ghe-gaming {
  background: url(../../Assets/images/icon-img/ghe-gaming.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .ban-gaming {
  background: url(../../Assets/images/icon-img/ban-gaming.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .usb {
  background: url(../../Assets/images/icon-img/usb.png) no-repeat center;
  background-size: contain;
}

.home-pro-cat-group .tan-nhiet {
  background: url(../../Assets/images/icon-img/tan-nhiet.png) no-repeat center;
  background-size: contain;
}
/* tablet */
@media (min-width: 427px) and (max-width: 769px) {
  .homepage-container {
    min-height: 100%;
  }
  .home-left-group,
  .home-right-group,
  .home-under-group {
    display: none;
  }

  .home-container {
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }

  .home-container-group {
    flex-wrap: wrap;
  }

  .home-pro-cat-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* mobile */
@media (min-width: 320px) and (max-width: 426px) {
  .homepage-container {
    justify-content: center;
    min-height: 0;
    margin-top: 0;
  }

  .home-container-group {
    flex-wrap: wrap;
  }

  .home-banner-group {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 65px;
  }

  /* home pro-cat-group section */

  .home-pro-cat-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-left-group .header-menu-list {
    display: none;
  }

  .home-container .home-right-group {
    display: none;
  }

  .home-under-group {
    display: none;
  }

  .home-container {
    width: 100%;
    margin-top: 0;
  }

  .home-left-group {
    display: none;
  }
}

/* /* latop large screen */
@media (min-width: 769px) and (max-width: 1024px) {
  .homepage-container {
    min-height: 500px;
  }

  .home-banner-group {
    width: 610px;
  }

  .home-right-group {
    width: 170px;
  }

  .home-right-item img {
    height: 117px;
  }

  .home-list-item {
    height: calc(100% / 6);
  }

}

/* laptop Large Screen */
@media (min-width: 1025px) and (max-width: 1441px) {

  .home-banner-group {
    width: 850px;
  }

  .home-right-group {
    height: 165px;
    width: 230px;
  }

  .home-right-item {
    height: 100%;
  }

  .home-right-item img {
    height: 100%;
  }
}
