.section-content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 30px;
}

.icon-select {
    border: 1px solid orange;
    padding: 10px 0;
    border-radius: 15px;
}

.icon-select .col {
    padding: 0px 15px 0px;
}

.item-select {
    display: flex;
    justify-content: center;
}

.icon-box-text h5 {
    font-size: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
