.home-collection-group {
  background-image: url(../../Assets/images/home-bg/home-bg1.png);
  padding: 25px 0 30px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: 100% 100%;
  min-height: 600px;
}

.box-title-group {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.box-title-group a {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-right: 18px;
  margin-right: 18px;
}

.box-title-group a:hover {
  color: #fff;
  cursor: pointer;
}

.box-title-group .box-title {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  padding: 0;
  display: table;
  margin: 0 auto 16px auto;
}


.box-title-group a:nth-child(1):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(2):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(3):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(4):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(5):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(6):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

.box-title-group a:nth-child(7):after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3px;
}

@media (min-width: 320px) and (max-width: 426px) {
  .home-collection-group {
    min-height: 550px;
    padding-bottom: 0;
  }
  .box-title-group .box-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    display: block;
  }

  .home-collection-list {
    display: flex;
    margin-top: 10px;
    white-space: nowrap;
    overflow: auto;
    position: relative;
  }

  .home-collection-list a {
    font-size: 13.5px;
    line-height: 15px;
    font-weight: 400;
    margin-right: 15px;
    padding-right: 15px;
    position: relative;
  }

  .home-collection-list::-webkit-scrollbar {
    display: none;
  }
}
