.product-page {
  display: flex;
  max-width: 1212px;
  margin-bottom: 20px;
}

/* col-left */
.product-page .col-left {
  width: 300px;
  margin-right: 12px;
  background: #fff;
  border-radius: 20px;
  padding: 20px 12px;
}

.product-page .filter-item {
  margin-bottom: 35px;
}

.product-page .product-filter-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
}

.product-filter-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  padding: 5px 0;
  color: #000;
}

.product-filter-container a:hover {
  color: #ff7d00;
}

.product-page .icon-square {
  background: #f4f4f4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 14px;
}

.product-page .icon-square.active {
  color: #ff7d00;
}

.product-page .icon-square::before {
  background-color: #ff7d00;
  font-weight: 900;
  color: #fff;
  font-style: normal;
  font-size: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 16px;
}

/* col-right */
.product-page .col-right {
  width: calc(100% - 300px);
}

.product-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
}

.product-holder-group {
  background: #fff;
  border-radius: 20px;
}

.sort-by-group {
  padding: 12px;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-by-list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sort-by-list a {
  font-size: 14px;
  text-decoration: none;
  border: 1px dashed #ff7d00;
  border-radius: 21px;
  text-align: center;
  color: #ff7d00;
  line-height: 34px;
  width: 100px;
  margin-right: 5px;
}

.sort-by-list a:hover {
  background-color: #ff7d00;
  color: #000;
}

.choose-price-holder {
  margin-right: 6px;
}

.choose-price-holder span {
  margin-left: 6px;
  margin-right: 6px;
}

.price-range {
  outline: none;
  width: 115px;
  height: 34px;
  color: #777;
  border: 1px solid #d9d9d9;
  border-radius: 21px;
  text-align: center;
}

.submit-filter {
  margin-left: 6px;
  width: 58px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #29a07e;
  border-radius: 21px;
  color: #fff;
}

.sort-select-item {
  cursor: pointer;
  outline: none;
  margin-left: 6px;
  width: 124px;
  height: 34px;
  border: 1px solid #d9d9d9;
  border-radius: 21px;
  padding-left: 5px;
  font-size: 14px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.product-item {
  width: calc(100% / 5 + 30px);
  margin: 0 18px 14px 0;
  border-radius: 15px;
}

/* pagition css */
.page-link {
  color: #ff7d00 !important;
  border: 1px solid #000 !important;
}

.page-link.active, .active > .page-link {
  background-color: #000 !important;
  border-color: #000 !important ;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 426px) {
  .col-left {
    display: none;
  }
  .sort-by-list a {
    width: 90px;
  }

  .sort-by-group {
    flex-wrap: wrap;
  }

  .price-range {
    width: 79px;
    margin-top: 12px;
  }

  .submit-filter {
    margin-top: 12px;
  }

  .sort-select-item {
    margin-top: 12px;
  }

  .product-container {
    padding: 10px;
  }

  .product-page .col-right {
    width: 100%;
  }

  .product-item {
    width: calc(100% / 2 - 18px);
  }

  .product-img {
    min-height: 140px !important;
  }
}

/* Mobile Small Screen */
@media (min-width: 375px) and (max-width: 420px) {
  .sort-by-list a {
    width: 80px;
    font-size: 13px;
  }

  .choose-price-holder {
    width: 135px;
  }

  .price-range {
    height: 32px;
    width: 54px;
    font-size: 14px;
  }
}

/* Tablet */
@media (min-width: 426px) and (max-width: 769px) {
  .col-left {
    display: none;
  }

  .product-page .col-right {
    width: 100%;
  }

  .sort-by-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sort-by-list a {
    width: 160px;
  }

  .submit-filter {
    margin-top: 12px;
  }

  .sort-select-item {
    margin-top: 12px;
  }

  .product-container {
    padding: 10px;
  }

  .choose-price-holder {
    margin-top: 12px;
  }

  .product-item {
    width: calc(100% / 3 - 18px);
  }
}

/* laptop small screen */
@media (min-width: 769px) and (max-width: 1025px) {
  .product-item {
    width: calc(100% / 4 + 32px);
  }
}