.App {
  box-sizing: border-box;
  background-color: #f5f5f5;
}


:root {
  --primary-color: #4b4b4b;
  --secondary-color: #f0482d;
  --black-color: black;
  --white-color: white;
  --bg-color: rgb(245, 245, 245);
  --orange-color : #ff7d00;
  --black-color : #161616;
  --black-blue-color : #00294b;
}
