.banner-section {
    margin-top: 60px;
}

.banner-img {
    width: 100%;
    height: 550px;
}

@media (max-width: 991.98px){
    .banner-section {
        margin-top: 45px;
    }

    .banner-img {
        height: 220px;
    }
}